* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #131313;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  position: absolute;
  right: 0;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: green;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: green;
  transition: all 0.3s ease;
}

.hero {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 100px 0 25px 0;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}

.hero__heading {
  margin-top: 80px;
  font-size: 50px;
  color: #fff;
}

.main__btn {
  font-size: 1.3rem;
  background: green;
  padding: 10px 60px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.bar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 90%;
  text-align: center;
}

.chart {
  width: 100%;
  height: 300px;
  display: block;
}

.numbers {
  color: #fff;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 100%;
  display: inline-block;
  float: left;
}

.numbers li {
  list-style: none;
  height: 150px;
  position: relative;
}

.numbers span {
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 10px;
}

.bars {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 900px;
  height: 300px;
}

.bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  position: relative;
}

.bars span {
  width: 100%;
  position: absolute;
  top: 20px;
  text-align: center;
}

.bars .bar {
  display: block;
  background: linear-gradient(#5adfbf, #2ec0f9, #9198e5);
  width: 40px;
  position: absolute;
  bottom: 280px;
  margin-left: 70px;
  text-align: center;
  transition: 0.1s;
  transition-property: background, box-shadow;
  box-shadow: 0 0 10px 0 rgba (23, 192, 235, 0.5);
}

.bars .bar:hover {
  background: #5adfbf;
  box-shadow: 0 0 10px 0 rgba(255, 0, 0, 0.5);
  cursor: pointer;
}

.bars .bar:before {
  color: #fff;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}

.analytics {
  background: #000000;
  background: linear-gradient(to right, #161616, #000000);
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
}

.analytics-container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  position: relative;
}

.analytics-container .analytics-title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.analytics-container .analytics-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: green;
}

input {
  width: calc(100% / 1.5 - 20px);
  height: 35px;
}

select {
  width: calc(100% / 1.5 - 20px);
  height: 35px;
}

.question {
  margin-bottom: 20px;
  margin-top: 10px;
}

.button .submit {
  height: 45px;
}

.services {
  background: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.services h1 {
  color: #fff;
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
}

.services h2 {
  margin-bottom: 40px;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
}

.services__card:nth-child(2) {
  background: #1fa2ff;
  background: -webkit-linear-gradient(to right, #a6ffcb, #12d8fa, #1fa2ff);
  background: linear-gradient(to right, #a6ffcb, #12dbfa, #1fa2ff);
}

.services__card:nth-child(3) {
  background: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}

.services__card h2 {
  text-align: center;
}

.services p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.services__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.services__card button:hover {
  cursor: pointer;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.testing_class {
  background-color: #00dbde;
  color: #44107a;
  text-transform: capitalize;
}

#testing_class {
  background-color: #00dbde;
  color: #44107a;
  text-transform: capitalize;
}
